* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// variables

$color-gray: rgb(112, 112, 112);
$color-border: rgb(235, 233, 233);

body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  img {
    width: 200px;
  }
  .container {
    .card-wrapper {
      .accounts-card {
        border: 2px solid black;
        .texts {
          h2 {
            font-weight: 500;
          }
          p {
            color: $color-gray;
          }
        }
        .cards {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .card {
            width: 160px;
            height: 200px;
            border: 1px solid $color-border;
            border-radius: 10px;
            overflow: hidden;
            .card-img {
              width: 100%;
              height: 160px;
              img {
                width: inherit;
                height: inherit;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .login-card {
      border: 2px solid red;
    }
  }
}
